#header {
  width: 600px;
  background-color: azure;
  text-align: center;
  margin: 100px;
  padding: 30px;
  border-radius: 10px; 
  background-color: blanchedalmond;
  margin-left: 300px;
  margin-top: -3px;
}

body{
  background-color: pink;
  font-family: Arial, Helvetica, sans-serif;
  font-style: oblique;
}

section{
  background-color: azure;
  padding: 30px;
  width: 600px;
  margin: 100px;
  height: 2650px;
  border-radius: 10px;
  margin-left: 300px;
  margin-top: -90px;
}
h4{
  margin-top: 30px;
}
label{
   margin-top: 10px;
   width: 50px;
   height: 40px;
 }


input{
  margin-top: 10px;
  height: 20px;
}
table{
  border-collapse: collapse;
  margin-bottom: 20px;
  background-color: palevioletred;
}
table :hover{
  color: deeppink;
}
th,td{
  border: 1px solid #ddd;
  padding: 12px;
  width: 600;
  text-align: left;
}
caption{
  font-size: 20px;
  margin-bottom: 10px;
  font-weight: bold;
}
section{
  background-color: blanchedalmond;
}
#worst,#best{
  width: 50px;
  height: 40px;

}
#worst,#best:hover{
  color: deeppink;

}
#document{
  text-align: center;
  
}
#apply{
   width: 200px;
   height: 100px;
   background-color: rosybrown;
   border-radius: 10px;
   margin-top: 20px;
   margin-left: 200px;
   font-weight: bold;
   font-size: 30px;
   cursor: pointer;
}
#apply:hover{
  color: deeppink;
}
#position,#howknow{
  width: 200px;
  height: 30px;
  background-color:palevioletred;
  

}
#position:hover{
  color:deeppink;
}
#howknow:hover{
  color: deeppink;
}
#text{
  font-weight: bold;
  font-style: italic;
  background-color: bisque;
}


